html,
body {
	margin: 0;
	padding: 0;
	background-color: #553D67;
	font-family: 'Helvetica';
	overflow: hidden;
	-webkit-touch-callout: none;
	/* iOS Safari */
	-webkit-user-select: none;
	/* Safari */
	-khtml-user-select: none;
	/* Konqueror HTML */
	-moz-user-select: none;
	/* Firefox */
	-ms-user-select: none;
	/* Internet Explorer/Edge */
	user-select: none;
	/* Non-prefixed version, currently
                                supported by Chrome and Opera */
}

.header {
	width: 100%;
	background-color: #2F2FA2;
	padding: 10px;
	color: white;
	font-size: 32px;
	text-align: center;
}

.container {
	width: 100%;
	padding-top: 25px;
	text-align: center;
}

.palette,
.options {
	max-width: 170px;
	max-height: 390px;
	margin: 0px 15px;
	display: inline-block;
	vertical-align: top;
	box-sizing: border-box;
	background-color: rgba(246, 76, 113, 0.589);
	border-radius: 20%;
}

.paletteBtn {
	width: 50px;
	height: 50px;
	box-sizing: border-box;
	display: inline-block;
	padding: 5px;
	margin: 5px;
	border-radius: 100%;
	color: black;
	text-align: center;
	padding-top: 14px;
}

.paletteBtn:hover {
	cursor: pointer;
	opacity: 0.9;
}

.spacer {
	padding: 10px;
	margin: 10px 0;
	border-top: 1px dashed #efefef;
	border-bottom: 1px dashed #efefef;
}

.box {
	min-width: 400px;
	min-height: 400px;
	margin: 5px;
	text-align: center;
	display: inline-block;
}

.options {
	min-width: 150px;
	height: 420px;
	display: inline-block;
	vertical-align: top;
	padding: 15px;
	color: white;
}

.name {
	width: 100%;
	background-color: #F64C72;
	padding: 10px;
	color: white;
	font-size: 24px;
	text-align: center;
}

.footer {
	width: 100%;
	background-color: #2F2FA2;
	padding-bottom: 20px;
	padding-top: 10px;
	color: white;
	font-size: 16px;
	text-align: center;
	position: fixed;
	bottom: 0;
}

.modal {
	display: none;
	position: fixed;
	z-index: 1;
	padding-top: 100px;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgb(0, 0, 0);
	background-color: rgba(0, 0, 0, 0.4);
}

/* Modal Content */
.modal-content {
	background-color: rgba(246, 76, 113);
	margin: auto;
	padding: 20px;
	border-radius: 10px;
	color: white;
	width: 75%;
	text-align: center;
}

/* The Close Button */
.close {
	color: #fff;
	float: right;
	font-size: 28px;
	font-weight: bold;
}

.close:hover,
.close:focus {
	color: rgb(145, 0, 0);
	text-decoration: none;
	cursor: pointer;
}

.modalContentSection {
	width: 20%;
	display: inline-block;
	text-align: center;
	background-color: rgba(246, 76, 113, 0.589);
	margin: 5px;
}

.modalContentSection .spacer {
	border-top: none !important;
}

input {
	background: #ececec;
}

label {
	cursor: pointer;
}