/* Background pattern from Toptal Subtle Patterns */
/* https://www.toptal.com/designers/subtlepatterns/faq/ */

body {
	/* background-image: url("./diamond_upholstery/diamond_upholstery.png"); */
	background-image: url("./diamond_upholstery/diamond_upholstery_@2X.png");
	overflow-y: hidden;
	font-family: 'Helvetica';
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.indexSquare {
	background: #fff;
}

.box {
	height: 0 !important;
	/* height: 40px !important; */
	padding-bottom: 100%;
	line-height: 450%;
	border-radius: 10%;
}

.colorSquare {
	background: red;
}