/* Background pattern from Toptal Subtle Patterns */
/* https://www.toptal.com/designers/subtlepatterns/faq/ */

body {
	padding: 0 !important;
	padding-bottom: 120px;
	/* background-image: url("./diamond_upholstery/diamond_upholstery.png"); */
	background-image: url("./diamond_upholstery/diamond_upholstery_@2X.png");
	overflow-y: hidden;
	font-family: 'Helvetica';
	-webkit-touch-callout: none;
	/* iOS Safari */
	-webkit-user-select: none;
	/* Safari */
	-khtml-user-select: none;
	/* Konqueror HTML */
	-moz-user-select: none;
	/* Firefox */
	-ms-user-select: none;
	/* Internet Explorer/Edge */
	user-select: none;
	/* Non-prefixed version, currently
                                supported by Chrome and Opera */
}

.title {
	background-color: #b5e7a0;
	text-align: center;
	color: #fff;
}

.header {
	background-color: #86af49;
	text-align: center;
	color: #fff;
}


.footer {
	background-color: #d5e1df;
	text-align: center;
}

.top-buffer {
	margin-top: 25px;
}

.noPadding {
	padding: 0;
}

.canvasDiv {
	height: 70vh !important;
	border: 1px solid red;
	background-color: #86af49 !important;
	text-align: center !important;
}

.wrapper {
	display: flex;
	align-items: stretch;
}

#sidebar {
	min-width: 200px;
	max-width: 200px;
	min-height: 100vh;

	background: #b5e7a0;
	color: #fff;
	transition: all 0.3s;

	position: fixed;
	top: 0;
	z-index: 100;

}

#sidebar.active {
	margin-left: -215px;
}

@media (max-width: 768px) {
	#sidebar {
		margin-left: -210px;
	}

	#sidebar.active {
		margin-left: 0;
	}
}

#sidebar .sidebar-header {
	padding: 20px;
	background: #86af49;
}

#sidebar .sidebar-content {
	padding: 20px;
	font-size: 1.5em;
}

.green {
	background-color: #b5e7a0 !important;
}

/* #e3eaa7 */
/* #d5e1df */
/* #b5e7a0 */
/* #86af49 */