/* Background pattern from Toptal Subtle Patterns */
/* https://www.toptal.com/designers/subtlepatterns/faq/ */

body {
	padding: 0 !important;
	padding-bottom: 120px;
	/* background-image: url("./diamond_upholstery/diamond_upholstery.png"); */
	background-image: url("./diamond_upholstery/diamond_upholstery_@2X.png");
	overflow-y: hidden;
	font-family: 'Helvetica';
	-webkit-touch-callout: none;
	/* iOS Safari */
	-webkit-user-select: none;
	/* Safari */
	-khtml-user-select: none;
	/* Konqueror HTML */
	-moz-user-select: none;
	/* Firefox */
	-ms-user-select: none;
	/* Internet Explorer/Edge */
	user-select: none;
	/* Non-prefixed version, currently
                                supported by Chrome and Opera */
}

.title {
	background-color: #b5e7a0;
	text-align: center;
	color: #fff;
}

.header {
	background-color: #86af49;
	text-align: center;
	color: #fff;
}


.footer {
	background-color: #d5e1df;
	text-align: center;
}

.top-buffer {
	margin-top: 20px;
}

.noPadding {
	padding: 0;
}

.canvasDiv {
	/* border: 1px solid red; */
	min-height: 70vh !important;
	text-align: center !important;
}

.colorSchemeContainer {
	/* background-color: #b5e7a0; */
	/* border: 1px solid red; */
	border-radius: 25px;
	max-height: 60vh;
	text-align: center;
	padding: 5%;
}

.paletteBtn {
	width: 50px;
	height: 50px;
	box-sizing: border-box;
	display: inline-block;
	margin: 5px;
	box-shadow: 3px 3px grey;
}

.paletteBtn:hover {
	cursor: pointer;
	opacity: 0.9;
}

canvas {
	vertical-align: middle !important;
}

.navBtnDiv {
	z-index: 10;
	position: fixed;
	top: 0;
}

.wrapper {
	display: flex;
	align-items: stretch;
}

#sidebar {
	min-width: 220px;
	max-width: 220px;
	min-height: 100vh;

	color: #fff;
	transition: all 0.3s;

	position: fixed;
	top: 0;
	z-index: 100;
}

#sidebar.active {
	margin-left: -220px;
}

@media (max-width: 768px) {
	#sidebar {
		margin-left: -220px;
	}

	#sidebar.active {
		margin-left: 0;
	}
}

#sidebar .sidebar-header {
	padding: 20px;
	background: #d5e1dfe0;
}

#sidebar .sidebar-content {
	padding: 20px;
	font-size: 1.5em;
	text-align: justify;
}

#sidebar .close {
	font-size: 3.4em !important;
	color: red;
	text-align: right;
	vertical-align: text-top;
	margin-left: 3px !important;
}

#sidebar .sidebar-footer {
	width: inherit;
	text-align: center;
}

.green {
	background-color: #b5e7a0 !important;
}

/* #e3eaa7 */
/* #d5e1df */
/* #b5e7a0 */
/* #86af49 */