:root{
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;

    --cell-size: 3rem;

    --CustomPurple: #7430fa;

}

body{
    overflow: hidden;
}
.userSelect{
    -moz-user-select: text !important;
    -webkit-user-select: text !important;
    -ms-user-select: text !important;
    user-select: text !important;
}

.text-purple{
    color: var(--CustomPurple) !important;
}

.bg-purple{
    background-color: var(--CustomPurple) !important;
}

.squareOnBoard {
    box-sizing: border-box;
    width: var(--cell-size);
    height: var(--cell-size);
    aspect-ratio: 1/1;

    display: grid;
    place-items: center;
    text-align: center;
}

.overflow-y-scroll{
    overflow-y: scroll !important;
}

.overflow-y-hidden{
    overflow-y: hidden !important;
}

.overflow-x-scroll{
    overflow-x: scroll !important;
}

.overflow-x-hidden{
    overflow-x: hidden !important;
}

.animateChange{
    transition: all 0.2s ease-in-out !important;
}

.cellOnHover{
    filter: invert(20%);
}

.positionEntry::after{
    content: ',';
}

.positionEntry:last-child:after{
    content: '';
}

.ALetter {
    content: url('@assets/A square.svg');
    vertical-align: -0.125em;
}

/* .descriptionReadOnly .ck-editor__top{
    display: none !important;
} */