:root{
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;

    --cell-size: 3rem;
}

.squareOnBoard {
    box-sizing: border-box;
    width: var(--cell-size);
    height: var(--cell-size);
    aspect-ratio: 1/1;

    display: grid;
    place-items: center;
    text-align: center;
}

.overflow-y-scroll{
    overflow-y: scroll !important;
}

.overflow-y-hidden{
    overflow-y: hidden !important;
}

.overflow-x-scroll{
    overflow-x: scroll !important;
}

.overflow-x-hidden{
    overflow-x: hidden !important;
}

.animateChange{
    transition: all 0.2s ease-in-out;
}