:root{
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.squareOnBoard {
    box-sizing: border-box;
    min-width: 2em;
    min-height: 2em;
    aspect-ratio: 1/1;

    display: grid;
    place-items: center;
    text-align: center;
}

.overflow-y-scroll{
    overflow-y: scroll !important;
}

.overflow-y-hidden{
    overflow-y: hidden !important;
}

.overflow-x-scroll{
    overflow-x: scroll !important;
}

.overflow-x-hidden{
    overflow-x: hidden !important;
}

.animateChange{
    transition: all 0.2s ease-in-out;
}